{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class = 'container'>
    {% for a in obj %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/about-img.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{a.sitename}}</h5>
              <p class="card-text">{{a.about}}</p>              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>
{% endblock content %}