{% extends "base.html" %}
{% load static %}
{% block slider %}
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "images/robyse.png" %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static "images/robyse.png" %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static "images/robyse.png" %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock slider %}
{% block content %}
<hr><b><h1 align = 'center'>Categories</h1></b><hr>

<section>
  <div class ="container">
    <div class="row">
      <div class="col-4">
        <div id="list-example" class="list-group">
          {% for i in categories %}
          <a class="list-group-item list-group-item-action" href="#list-item-1">{{i.name}}</a>
          {% endfor %}      
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          {% for i in categories %}
          <h4 id="list-item-1">{{i.name}}</h4>
          <p>{{i.description}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<hr><b><h1 align = 'center'>Browse Hotels</h1></b><hr>
<section>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
 

    {% for k in instances %}
    <div class="col">
      <div class="card">
        <img src="{{ k.image.url }}" class="card-img-top" alt="{{ k.image.url }}">
        <div class="card-body">
          <h5 class="card-title">{{k.name}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
    <hr>
  </div>
  </div>

</section>
{% endblock content %}

