{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div >
            <div class="card mb-3">
                <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.image.url }}">
                <div class="card-body">
                  <h5 class="card-title">{{instance.name}}</h5>
                  <p class="card-text">{{instance.description}}</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
        <div >
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'feedback' instance.pk %}">
                <button class="btn btn-primary me-md-2" type="button">Feedback</button>
                </a>&emsp;
                <a href="{% url 'booking' instance.pk %}">
                    <button class="btn btn-dark" type="button">Book Now</button>&emsp;    
                </a>
                
              </div><br>
        </div>
    </section>
    <hr><b><h1 align = "center">Reviews</h1></b><hr>
    <section>
        <div class="container">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ review.reviewer_name }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ review.comment }}</p>
                                <footer class="blockquote-footer">
                                    (Rating: {{ review.rating }}/5)
                                    <cite title="Review Date">{{ review.date }}</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No reviews yet.</p>
            {% endif %}
        </div>
        
    </section>
{% endblock content %}

