{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div >
            <div class="card mb-3">
                <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.image.url }}">
                <div class="card-body">
                  <h5 class="card-title">{{instance.name}}</h5>
                  <p class="card-text">{{instance.description}}</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
    </section>
{% endblock content %}